@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body { 
    background-color: #F6F6F6;
}


#nav-user-icon {
    margin-right: 6px;
}

.login_logo {
    text-align: center;
    margin-top: 10vh;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover, .nav-link:hover, .regbtn:hover {
    color: #C63F18;
}

.nav-link, .regbtn {
    margin-left: 5px;
    text-decoration: none;
    color: inherit;
}

a:hover {
    color: #C63F18;
}

.ts {
    margin-left: auto;
}

.homepage {
    height: 640px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-position:center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('');
}

/*login module*/

.login_box {
    padding: 50px;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border:1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    margin-bottom: 10px;
    margin-top: 50px;
    text-align: center;
}

.login_container .login_label {
  text-align: left;
}

.register_container {
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin-top: 30px; */
    margin-bottom: 30px;
}

.reg-div {
    text-align: right;
}



.col {
    display: row;
}




/* .main_container {
    background-image: url('pictures/.png');
    background-size: cover;
    background-position:center center;
    height: 100%;
} */

.login_header {
    color: #C63F18;
    font-size: 40px;
    font-weight: 600;
    text-align: left;
}

label {
    margin-top: 15px;
    font-weight: 600;
}

input[type=text], input[type=password] {
    width: 420px;
    height: 45px;
    border-radius: 10px;
    border: 1px solid #C63F18;
    padding: 10px;
}

textarea {
    width: 420px;
    height: 128px;
    border-radius: 10px;
    border: 1px solid #C63F18;
    padding: 10px;
    resize: none;
}

.upload-btn {
    background-color: white;
    border: 1px solid #C63F18;
    color: #C63F18;
    padding: 0.6rem;
    border-radius: 1rem;
    cursor: pointer; 
    margin-top: 0;
}

#file-chosen {
    color: #777777;
    padding: 0.5rem;
}

#roles {
    width: 418px;
    height: 45px;
    border-radius: 10px;
    border: 1px solid #C63F18;
    padding: 10px;
}



.all_btn {
    width: 300px;
    height: 50px;
    background-color: #C63F18;
    border: none;
    border-radius: 20px;
    margin-top: 30px;
    font-weight: 800;
    color: white;
}

.account_notice {
    text-align: center;
}

#activebtn {color: #C63F18;}

.list {
    position: absolute;
    transform: scaleY(0);
    transform-origin: top;
    transition: 0.3s;
    width: 300px;
}

.newList {
    transform: scaleY(1);
    transition: 0.3s;
}

.account_notice p {
    margin-top: 25px;
    font-size: 14px;
}

/*reservation module*/

.header {
    text-align:center;
    color: #C63F18;
    margin-top: 25px;
    font-size: 30px;
    font-weight: 600;
}



.item-row {
    display: flex;
    align-items: center;
    margin: 50px 250px 25px;
    background-color: white;
    border-radius: 10px;
}

.item-pic {
    flex: 1;
    display: flex;
    align-items: center;
}

.item-pic img {
    height: 200px;
    width: auto;
}


#reserve_btn {
    margin-right: 30px;
    margin-top: 0;
    width: 250px;
}


/*Employee masterlist*/
.user-container {
    padding: 5rem;
}

.emp-name-bold {
    font-weight: 700;
}

th {
    color: #777777;
    border: none;
}

.page-title, .user-count, .device-count {
    color: #C63F18;
}

.page-title { 
  margin-bottom: 20px;
  font-size: 45px;
}

.emp-pic, .device-pic {
    height: 120px;
    border-radius: 20px;
}

td i {
    background-color: #437FC7;
    padding: 15px;
    border-radius: 15px;
    color: white;
    margin-right: 10px;
    cursor: pointer;
}

#edit-btn {
    background-color: #40A344;
}

/*search style*/

.searchContainer {
    padding: 1rem;
    background-color: #F3E0DA;
    border-radius: 15px;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.search-box .search {
    width: 100%;
    position: relative;
    display: flex;
  }
  .search-box .searchTerm {
    width: 100%;
    height: 60px;
    border: none;
    border-right: none;
    padding: 15px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: #777777;
  }
  .search-box .searchTerm:focus{
    color: #C63F18;
  }
  .search-box .searchButton {
    width: 60px;
    height: 60px;
    border: 1px solid #C63F18;
    background: #C63F18;
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
  }

  .search-box .searchButton i{
    color: white;
  }

  .searchFilters {
    display: flex;
    align-items: center;
    padding: 1rem;
  }

  /* .searchContainer label {
    margin-right: 20px;
    display: inline-block;
  } */

  .filterGroup {
    border: none;
    border-radius: 15px;
    margin-right: 20px;
    width: 200px;
    height: 50px;
    color: #777777;
    display: inline-block;
  }

  .searchFilters select {
    padding: 5px;
  }


  /*view employee & device css*/

  .view-emp-container {
    padding: 5rem;
  }



  .remove-btn-div {
    text-align: right;
  }

  .remove-btn {
    padding: 10px;
    color: white;
    background-color: #E30000;
    border: none;
    border-radius: 15px;
    margin-bottom: 10px;
  }

  #remove-icon {
    margin-right: 10px;
  }

  .detail-container {
    background-color: #ffffff;
    border-radius: 15px;
    padding: 2rem;
  }

  .detail-header {
    text-align: center;
  }

  /* .detail-table, .transacted {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

  .detail-table th, .detail-table td, .transacted th, .transacted td {
    padding: 10px;
  }

  .detail-table td {
    background-color: #F3E0DA;
  } */

  .transacted {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 1rem;
  }

  .transacted td {
    background-color: #F3E0DA;
  }

  .spec-role-flex {
    display: flex;
    justify-content: center;
    gap: 15px;
  }

  /*edit details*/

  #cancel-btn {
    background-color: #ffffff;
    color: #C63F18;
    border: 1px solid #C63F18;
  }

  .save-cancel-div {
    text-align: center;
  }


  /*VIEW PROFILE*/

  .profile-container {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.prof-pic {
  height: 150px;
  border-radius: 15px;
}

.profile-card, .resetpw-card {
    background-color: #ffffff;
    width: 500px;
    text-align: center;
    border-radius: 15px;
    padding: 20px;
}

.logout-btn-div {
  margin-top: 15px;
}

.resetpw-card {
  margin-top: 10px;
}

#logout-btn {
  border: 1px solid #C63F18;
  border-radius: 15px;
  background-color: #ffffff;
  color: #C63F18;
  padding: 10px;
}

#reset-btn {
  border: 1px solid;
  border-radius: 15px;
  background-color: #C63F18;
  color: #ffffff;
  padding: 10px;
}

.btn-div {
  margin-top: 15px;
}


/*homepage*/

#homepg-btn {
  border: 1px solid #C63F18;
  padding: 10px;
  border-radius: 15px;
  color: white;
  background-color: #C63F18;
}

.overview {
  background-color: #777777;
  background-image: url("./pictures/home-bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}


.overview-content{
    color: white;
    text-align: center;
    width: 800px;
}

.textbox p {
  margin: 20px 0 40px;
  font-size: 14px;
}

#hero-btn {
  padding: 15px;
  border-radius: 5px;
  font-size: 16px;
  border: 1px solid #ffffff;
}

.features-content {
  padding: 50px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.feature-box {
  width: 500px;
  text-align: center;
}

.features-gray {
  background-color: #E9ECEF;
}

.f-textbox h4 {
  font-size: 34px;
}

.f-textbox h6 {
  font-size: 20px;
}

.f-feature-box {
  border: 1px solid #C63F18;
  border-radius: 10px;
  padding: 50px;
}

.f-feature-box h3 {
  font-size: 20px;
}

.borrow_module {
  text-align: center;
  display: flex;
}

.device-view {
  width: 800px;
}

.device-info {
  text-align: left;
  color: #777777;
  background-color: #F3E0DA;
  border-radius: 15px;
  width: 550px;
  padding: 10px;
  margin: auto;
}

.device-info ul {
  list-style-type: none;
}

.date-picker {
  width: 525px;
  height: 50px;
  border: 1px solid #C63F18;
  border-radius: 15px;
  padding: 10px;
}

.picker-flex {
  display: flex;
  align-items: center;
}

.picker-div {
  align-items: center;
}

.btn-grp {
  text-align: center;
  margin-top: 20px;
}

.btn-grp button {
  margin: 0 20px 0px 20px;
}

.btn-grp .cancel-btn {
  border: 3px solid #C63F18;
  border-radius: 15px;
  color: #C63F18;
  font-size: 18px;
  font-weight: 800;
  width: 200px;
  height: 50px;
}

.btn-grp .reserve-btn {
  background-color: #C63F18;
  border-radius: 15px;
  font-size: 18px;
  font-weight: 800;
  width: 250px;
  height: 50px;
  color: white;
  border: none;
}

/*emp view - equipment packages*/

.equipment-col {
  display: flex;
  justify-content: space-evenly;
}

.equipment-row {
  text-align: center;
  border: 1px solid #C63F18;
  border-radius: 15px;
  background-color: #ffffff;
  padding: 50px;
}

.equipment-row ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.select-btn, .generate-btn {
  margin-top: 25px;
  border: none;
  width: 200px;
  height: 50px;
  border-radius: 15px;
  font-weight: 800;
  background-color: #C63F18;
  color: white;
}


/*generate report*/

.report-picker {
  display: flex;
  justify-content: space-evenly;
}

.generate-btn-div {
  text-align: center;
  margin-top: 50px;
}


@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap');

* {
    box-sizing: border-box;
}

body>div{
    min-height: 100vh;
    display: flex;
    font-family: 'Roboto', sans-serif;
}

.table_responsive {
    max-width: 900px;
    border: 1px solid #00bcd4;
    background-color: #efefef33;
    padding: 15px;
    overflow: auto;
    margin: auto;
    border-radius: 4px;
}

table {
    width: 100%;
    font-size: 13px;
    color: #444;
    white-space: nowrap;
    border-collapse: collapse;
}

table>thead {
    background-color: #00bcd4;
    color: #fff;
}

table>thead th {
    padding: 15px;
}

table th,
table td {
    border: 1px solid #00000017;
    padding: 10px 15px;
}

table>tbody>tr>td>img {
    display: inline-block;
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid #fff;
    box-shadow: 0 2px 6px #0003;
}


.action_btn {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.action_btn>a {
    text-decoration: none;
    color: #444;
    background: #fff;
    border: 1px solid;
    display: inline-block;
    padding: 7px 20px;
    font-weight: bold;
    border-radius: 3px;
    transition: 0.3s ease-in-out;
}

.action_btn>a:nth-child(1) {
    border-color: #26a69a;
}

.action_btn>a:nth-child(2) {
    border-color: orange;
}

.action_btn>a:hover {
    box-shadow: 0 3px 8px #0003;
}


table>tbody>tr {
    background-color: #fff;
    transition: 0.3s ease-in-out;
}


table>tbody>tr:nth-child(even) {
    background-color: rgb(238, 238, 238);
}

table>tbody>tr:hover{
    filter: drop-shadow(0px 2px 6px #0002);
}



/*dashboard*/

.pie-container {
  display: flex;
}